@import "catppuccin.css";
@import "nf.css";
@import "hack-nerd-font-mono.css";

:root
{
	--cat-accent: var(--cat-blue);
	--useless-gap: 8px;
	--border-radius: 4px;
	font-family: "hackNF", monospace;
}

html
{
	/* height: 100%; */
}

body
{
	margin: 0 auto;
	background-color: var(--cat-base);
	min-height: 100%;
	/* padding: var(--useless-gap) 0; */
}

::-webkit-input-placeholder {
	font-style: italic;
}
:-moz-placeholder {
	font-style: italic;  
}
::-moz-placeholder {
	font-style: italic;  
}
:-ms-input-placeholder {  
	font-style: italic; 
}

.split
{
	height: 100%;
	width: 50%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
}

.box
{
	text-align: center;
	margin: 0 auto;
	color: var(--cat-text);
	padding: var(--useless-gap);
	border-radius: var(--border-radius);
	background-color: var(--cat-crust);
	font-family: "hackNF", monospace;
}

.boardbg
{
	text-align: center;
	margin: 0 auto;
	height: 80vh;
	aspect-ratio: 1/1;
	background-color: var(--cat-crust);
	color: var(--cat-base);
}

.board
{
	/* width: 100%; */
	/* aspect-ratio: 1/1; */
	display: grid;
	grid-template-columns: repeat(8, 1fr);
}

.tile
{
	font: "NerdFontsSymbols Nerd Font";
	font-size: 3em;
	text-align: center;
	text-shadow: 0 0 6px #000000;
	aspect-ratio: 1/1;
	overflow: visible;
}

.tile.white
{
	background-color: var(--cat-subtext1);
}

.tile.black
{
	background-color: var(--cat-overlay1);
}

.prompt
{
	background-color: var(--cat-yellow);
	position: relative;
	z-index: 2;
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1/1;
	opacity: 0.3;
	top: 0px;
}

.piece
{
	display: flex;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1/1;
	cursor: pointer;
}

#board-container
{
	height: 80vh;
	aspect-ratio: 1/1;
	margin: 0 auto;
}
